body {
 background-color: #d5f4e6;
 padding: 30px;
}
nav {
 padding: 30px;
 background-color: #80ced6;
 position:sticky;
 top: 0;
 text-shadow: 1px 1px 0 #444;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

<img src="apple.png" alt="logo">
